.Account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  align-items: center;
  margin-bottom: 40px;
  transition: margin 0.5s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out;
  -ms-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out;
  -ms-transition: margin 0.5s ease-in-out;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 10px;
    & > div {
      width: 100%;
    }

    & button {
      font-size: 24px;
      width: 50%;
    }
  }

  &:hover .Account__profile__add {
    visibility: visible;


  }

  &__profile {
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: auto 0;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 10px;
      &:first-child {
        margin: auto;
      }

      &:hover :nth-child(2) {
        display: block;
      }
    }

    &__login {
      font-weight: 700;
      font-size: 22px;
      flex-grow: 1;
      text-align: left;
    }
    &__add {
      flex-grow: 3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      visibility: hidden;

      @media (max-width: 1000px) {
        flex-direction: column;
      }

      @media (max-width: 800px) {
        flex-direction: row;
        flex-grow: 2;
        display: none;

      }
  

      &-info {
        &__option {
          font-weight: 500;
          font-size: 20px;
        }

        &__value {
          font-weight: 700;
          font-size: 20px;
        }
        & .email {
          font-style: italic;
          text-decoration: underline;
        }
      }
    }
  }
  &__logout {
    flex-grow: 1;
  }
}
